body {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #0072c1;
}
a:hover {
    color: rgba(0, 114, 193, 0.65);
}
#coursename {
	color: #59a3d7;
	margin: 30px 40px 20px;
	font-size: 50px;
	line-height: 50px;
}
#courseid {
	color: #0072c1;
	font-size: 80px;
	margin-right: 20px;
}
#courseinfo {
    margin-left: 40px;
}
.navbar-middle {
    border-top: 1px solid #59a3d7;
    padding: 10px 30px 0;
    margin: 20px 40px -10px;
}
.navbar-top {
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(15, 160, 230, 1);
    line-height: 20px;
}
.navbar-top a {
    color: white;
}
#navitems {
    width: 545px;
    margin: 0 auto;
}
.navitem {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0 15px;
}
#content {
    margin: 60px 40px 40px;
}
.segment {
    margin-top: 20px;
    border-top: 1px solid #59a3d7;
    padding-top: 20px;
}
.segmenttitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.text {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 10px;
}
.code {
    margin: 0 30px;
    background-color: #EEE;
    padding: 5px 15px 10px;
    border-radius: 2px;
}
.codeindent {
    margin-left: 30px;
}
